
 <div class="md-toolbar-tools">
<md-toolbar class="md-hue-2" class = "toolbar-style">
  
      <span class="title">Zoo vrt</span><span style="flex: 1 1 auto"> </span><span class="user-font">{{currentUser.username}}</span>
   
      <md-toolbar-row>
      <button md-raised-button=""  class="left-btn"><span class="md-button-wrapper">Pocetna</span></button>

      <button  md-raised-button=""  class="left-btn"><span class="md-button-wrapper">Uredi profil</span></button>


<span style="flex: 1 1 auto"> </span>

  <button md-raised-button=""  class="" (click)="logOut()"><span class="md-button-wrapper">Odjavi se</span></button>



      </md-toolbar-row>

</md-toolbar>

 <div class="tableLayout" >
<md-card class="Panel1">
      <h2> Statistika</h2>
      <p> ovdje ide statistika</p>

</md-card>
<md-card class="Panel2">
     <button md-raised-button color="accent" class = "edit-btn">Uredi životinju</button> 
<button md-raised-button color="accent" class = "edit-btn">Uredi čuvara</button>           
     <button md-raised-button color="accent" class = "edit-btn">Uredi korisnika</button> 
     <button md-raised-button color="accent" class = "edit-btn">Ostalo</button>
     
</md-card>


 </div>


<md-card>
   Basic card
</md-card>