.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
	font-weight: bold;
    background-color: #00b300 !important;
	border-color: black;
}

a, a:active, a:visited{
	color: white !important;
}